@font-face {
  font-family: Jatiny;
  src: url(../assets/KungFuMaster-K7vrX.otf);
}

@font-face {
  font-family: Brave;
  src: url(../assets/BraveEightyoneRegular-ZVGvm.ttf);
}


#nav-menu {
  background-color: hsl(0, 0%, 21%);
}

body {
  background-color: hsl(171, 100%, 29%);
  font-family: Brave, sans-serif;
}

.title, .navbar-item {
  font-family: Jatiny, sans-serif;
}

.hero-body {
  background-image: url('../assets/Final_Space_Cover.jpeg');
  background-size: 95%, contain;
  background-repeat: no-repeat;
  background-position: center;
}

#character-detail {
  min-height: 100vh;
}

#hero-text {
  background-color: rgba(0, 0, 0, 0.6);
}
.tile .is-child {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.6);
}
#episode-image, #character-id {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.6);
}